@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap');

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

}

body {
    font-family: 'Inter', sans-serif;
    color: #071422;
    margin: 0;

}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

/* Botões e navegação */
button,
nav,
a {
    font-family: 'Manrope', sans-serif;
}